<tr class="mainRow {{name}}">
    <td class="teamInfo">
        <div class="teamInfo__wrapper">
            <p class="teamInfo__name">{{name}}</p>
            <div class="teamInfo__block">
                <i class="fas fa-users"></i>
                <span>{{team.participants.length}}</span>
                <div class="percent">{{team.percentageOfAbsent[date.getMonth()]}}%</div>
                <button>
                    <i class="fas chevronBtn fa-chevron-up"></i>
                </button>
            </div>
        </div>
    </td>
    <td class="teamInfo" *ngFor="let i of currentMonthObj"></td>
    <td class="teamInfo"></td>
</tr>
