<section class="calendar">
    <table class="calendar__table">
        <thead>
        <tr class="outputCalendar">
            <td class="addVacationCell outputItem ">
                <button class="addVacationBtn" (click)="showForm()"><span>+</span>Add Vacation</button>
            </td>
            <td *ngFor="let item of currentMonthObj" class="outputItem" [class.weekend]=item.isDayOff>
                <div class="outputItem__wrapper">
                    <span class="outputDay">{{item.dayName}}</span>
                    <span class="outputDate">{{item.date.getDate()}}</span>
                </div>
            </td>
            <td class="sumCell outputItem"><span class="calendar__text">Sum</span></td>
        </tr>
        </thead>
        <!--<tbody *ngFor="let team of teamsList"
               [date]="currentMonthAsDate"
               [teamId]="team.id">

        </tbody>-->

        <app-table-body *ngFor="let team of teamsList" [teamId]="team.id"></app-table-body>
        <tr class="teamsFooter"></tr>
                        <!--[date]="currentMonthAsDate"-->

        <!--    <tbody check that teamEntity is exist>-->
        <!--    <tr get team of teamEntities>-->
        <!--      <div class="calendar__row-inner">-->
        <!--    <tr>-->
        <!--      <td-->
        <!--        get day of monthsDay entity-->
        <!--      ></td>-->
        <!--      <td>-->
        <!--        <span class="calendar__text calendar__text&#45;&#45;increased"></span>-->
        <!--      </td>-->
        <!--    </tr>-->
        <!--    <tr get participant of team participants>-->
        <!--      <td-->
        <!--        get day of month days-->
        <!--        use isDayOff-->
        <!--      ></td>-->
        <!--      <td>-->
        <!--        <span class="calendar__text calendar__text&#45;&#45;increased">0</span>-->
        <!--      </td>-->
        <!--    </tr>-->
        <!--    </div>-->
        <!--    </tr>-->
        <!--    </tbody>-->
    </table>
</section>
